@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --ff-primary: 'Roboto', sans-serif;
    --tx-color: #E1E1E6;
}

body{
    background: black;
    font-size: 1.6rem;
}

body * {
    font-family: var(--ff-primary);
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app{
    max-width: 1120px;
    margin: 11.5rem auto;
}

.hidden{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8.7rem;
    gap: 1.5rem;
}

header .search{
    display: flex;
    gap: 8px;
    width: 640px;
}

.search input{
    width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    color: #fff;
    background: #06181C;
    border:  none;
    border-radius: 5px;
    padding: 1.2rem 3.2rem;
}

.search input::placeholder{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    color: #7C7C8A;
}

header button{
    padding: 1.2rem 3.2rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    border: none;
    background: #065E7C;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .4s;
}



header button:hover{
    background: #FFFFFF;
    color: #065E7C;
}

.table-content{
    border: 1px solid #4A808C;
    border-radius: 1.2rem;
}

table{
    width: 100%;
    border-collapse: collapse;

    -webkit-border-radius: 1.2rem;
    -moz-border-radius:  1.2rem;
    border-radius:  1.2rem;
    overflow: hidden;
}

table * {
    font-size: 2rem;
    color: var(--tx-color);
}

table th{
    background:  #092D38;
    padding: 1.6rem;
}

table th:first-child{
    text-align: left;
}

table td:first-child{
    padding: 1.5rem;
    text-align: left;
}

table td{
    padding: 1.5rem;
    text-align: center;
}

table td:last-child{
    text-align: center;
    padding-left: 50px;
}


table tr:nth-child(odd){
    background: hsla(195, 61%, 6%, 0.5);
}

table tr{
    background-color: #06181C;
}

td.users{
    vertical-align: middle;
    position: relative;
}

td.users img{
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}

td.users a{
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 85px;
}

td.users span{
    color: #d2d2de;
}

td .remove{
    background: none;
    border: none;
    cursor: pointer;
    transition-duration: .2s;
    color: red;
}

.empty-fav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 250px;
}

.empty-fav h2{
    font: 700 4rem 'Roboto Mono', monospace;
    color: #4E5455;
    line-height: 25px;
}






